build/*
docker/conf/*
docker/data/*
docker/import/*
docker/logs/*
docker/plugin/*
docker_compose/conf/*
docker_compose/data/*
docker_compose/import/*
docker_compose/logs/*
docker_compose/plugin/*
.vscode/*
libs/*

# xls
*.xls

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
